.button {
    font: inherit;
    border: 5px solid hsl(206deg 100% 52%);
    border-radius: 10px;
    background: hsl(206deg 100% 52%);
    color: white;
    padding: 0.25rem 1rem;
    cursor: pointer;
  }
  
  .button:hover,
  .button:active {
    background: hsl(209,100%,37.5%);
    border-color: hsl(209,100%,37.5%);
  }
  
  .button:focus {
    outline: none;
  }